/* BF24010-ejercicio2b.css */

pais {background-color: lightblue; display: block; padding: 20px;}

idiomas {background-color: lightyellow; display: block; margin: 15px; padding: 15px;}

oficial {color: darkblue; display: block;}

autoctono {color: darkgreen; display: block;}

departamento {background-color: lightgray; display: block; margin: 15px; padding: 15px;}

nombre {color: darkblue; font-size: 24px; font-weight: bold; display: block;}

cabecera {color: purple; font-size: 20px; display: block;}

habitantes {color: green; font-size: 18px; display: block;}

altura {color: brown; font-size: 16px; display: block;}

enlace {display: block; margin: 20px;}

a {color: darkblue; font-size: 18px;}