/* BF24010-ejercicio1b.css */

fichero {background-color: lightblue; display: block; padding: 20px;}

ficha {background-color: lightgray; display: block; margin: 15px; padding: 15px;}

titulo {color: purple; font-size: 22px; font-weight: bold; display: block;}

nombre {color: green; font-size: 18px; display: block;}

apellido {color: darkred; font-size: 18px; display: block;}

carnet {color: blue; font-weight: bold; display: block;}

universidad {color: brown; display: block;}

facultad {color: darkorange; display: block;}

carrera {color: darkgreen; display: block;}

direccion {color: gray; display: block;}

telefono {color: navy; display: block;}

email {color: purple; display: block;}

url {color: teal; display: block;}

dui {color: darkblue; display: block;}

isss {color: darkgreen; display: block;}

afp {color: darkred; display: block;}

enlace {display: block; margin: 20px;}

a {color: darkblue; font-size: 18px;}